{% extends 'booking/layout.html' %}
{% load static %}

{% block body %}

<div class="container gallery">
    <div class="row g-4 justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'booking/imagenes/perro1.png' %}" alt="Hashi">
                <div class="content">
                    <h3>Hashi</h3>
                    <p>Un poodle blanco y negro que se queda en nuestro hotel y viene a peluquería.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'booking/imagenes/perro2.png' %}" alt="Skye">
                <div class="content">
                    <h3>Skye</h3>
                    <p>Nuestra pequeña Skye 🥰🐩 tan coqueta.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="card">
                <img src="{% static 'booking/imagenes/perro6.png' %}" alt="Kiki">
                <div class="content">
                    <h3>Kiki</h3>
                    <p>Hermoso el Kiki 💕 Quedó pituco para los papis.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col d-flex justify-content-center">
        <nav aria-label="Page navigation example">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page=1">Primera</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">Anterior</a></li>
                {% endif %}

                {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}">Siguiente</a></li>
                    <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Ultima</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>

{% endblock body %}
